<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://homefinance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>homefinance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>homefinance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$homefinance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:o74fr00cfn.database.windows.net,1433;Initial Catalog=homefinance_db;User ID=HFiAdmin@o74fr00cfn;Password=sIY34ayH" Name="Data Source=tcp:o74fr00cfn.database.windows.net,1433;Initial Catalog=homefinance_db;User Id=HFiAdmin@o74fr00cfn;Password=sIY34ayH" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HFi.Models.ApplicationDbContext, HFi" MigrationConfiguration="HFi.Migrations.Configuration, HFi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o74fr00cfn.database.windows.net,1433;Initial Catalog=homefinance_db;User Id=HFiAdmin@o74fr00cfn;Password=sIY34ayH</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>