@model IEnumerable<HFi.Models.Transaction>

@{
    ViewBag.Title = "Список платежей";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить", "Create", null, new {@class = "btn btn-primary"})
</p>
<div id="transactions-container">
    @Html.Partial("_TransactionsList", Model)
</div>
